<main
  class="min-h-screen flex flex-col items-center justify-center bg-gray-800 text-white px-4 pt-10"
>
  <section>
    <div class="pt-10 container mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <app-propiedad-card
          *ngFor="let propiedad of propiedades"
          [propiedad]="propiedad"
          (readMore)="openModal(propiedad)"
          class="m-4"
        ></app-propiedad-card>
      </div>
      <app-propiedad-modal
        *ngIf="selectedPropiedad"
        [propiedad]="selectedPropiedad"
        (close)="closeModal()"
      ></app-propiedad-modal>
    </div>
  </section>
</main>
 